.item__table {

	width: 100%;
	margin: 4rem auto;
	&-table {
		border-collapse: collapse;
		border: .1rem solid darken($dark-grey, 10%);
		width: 100%;
	}
	tbody {
		td {
			border: .1rem solid darken($dark-grey, 10%);
		}
	}
	&-header {
		background-color: $dark-grey;
		border: .1rem solid darken($dark-grey, 10%);
		text-align: left;
		height: 5rem;
		th {
			border: .1rem solid darken($dark-grey, 10%);
			height: 4rem;
			padding: 0 0 0 1rem;
		}
	}
}
