html {
	font-size: 62.5%;
}
body {
	font-size: 1.7rem;
	font-family: Helvetica, Arial, sans-serif;
}
button {
	cursor: pointer;
	&:disabled {
		cursor: default;
	}
}
.header {
	display: flex;
	justify-content: flex-end;
}
.wrapper {
	width: 80%;
	margin: 0 auto;
}
